<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name"><img class="prudentialIcon mt-2" src="assets/prudential-logo-removebg-preview.png" alt="icono"></h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container bg-white"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav class="sidenav" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
    [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a class="d-flex justify-content-center" mat-list-item routerLink="/home">Home</a>
        <a class="d-flex justify-content-center" mat-list-item routerLink="/cotizaciones">Cotizaciones</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
