<div class="container bg-white">
  <div class="row d-flex justify-content-center align-items-center">
    <img class="imagen" src="assets/prudential.png">
  </div>
  <div class="row d-flex justify-content-center align-items-center">
    <h2 class="text-center welcomeToChallengeT">Bienvenido al Challenge</h2>
  </div>
</div>
