<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="row d-flex justify-content-center align-items-center">
      <mat-form-field appearance="outline" class="m-2 col-4">
        <mat-label>De</mat-label>
        <mat-select panelClass="my-select-panel-class" formControlName="from" id="from" disableOptionCentering (selectionChange)="clearResult()">
          <mat-option *ngFor="let c of countryArray" value="{{ c }}">
            {{ c }}
          </mat-option>
        </mat-select>
        <mat-error [hidden]="getFormControl()['from'].value">* Seleccione una moneda</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="m-2 col-4">
        <mat-label>A</mat-label>
        <mat-select panelClass="my-select-panel-class" formControlName="to" id="to" disableOptionCentering (selectionChange)="clearResult()">
          <mat-option *ngFor="let c of countryArray" value="{{ c }}">
            {{ c }}
          </mat-option>
        </mat-select>
        <mat-error  *ngIf="getFormControl()['to'].hasError('required')">* Seleccione una moneda</mat-error>
        <mat-error  *ngIf="getFormControl()['to'].hasError('cannotBeEqual')">* La moneda destino no puede ser igual a la de origen</mat-error>
      </mat-form-field>
    </div>
    <div class="row d-flex justify-content-center align-items-center">
      <h3 class="text-black fw-bold d-flex justify-content-center align-items-center">
        {{ getAmount() }} {{ getFromCurrency() }} {{ getEquivalency() }} {{ getToCurrency() }}
      </h3>
    </div>
    <div class="row d-flex justify-content-center align-items-center">
      <div mat-dialog-actions class="d-flex justify-content-center align-items-center">
        <button mat-flat-button color="accent" id="save" type="submit">Calcular</button>
      </div>
    </div>
  </form>
</div>
