>>> mat-form-field .mat-form-field-outline-start {
  background-color: lightgray !important;
}

>>> mat-form-field .mat-form-field-outline-gap {
  background-color: lightgray !important;
}

>>> mat-form-field .mat-form-field-outline-end {
  background-color: lightgray !important;
}

mat-label {
  color: black;
}

